{% extends 'base.html.twig' %}

{% block title %}Liste des flux{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1>Liste des flux</h1>

        <div class="table-responsive w-75">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Url</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for flow in flows %}
                    <tr>
                        <td>{{ flow.id }}</td>
                        <td><strong>{{ flow.title }}</strong></td>
                        <td>{{ flow.url }}</td>
                        <td>
                            <a href="{{ path('app_flow_show', {'id': flow.id}) }}" title="Voir"><i class="fa-solid fa-magnifying-glass pe-2"></i></a>
                            <a href="{{ path('app_flow_edit', {'id': flow.id}) }}" title="Editer"><i class="fa-regular fa-pen-to-square pe-2"></i></a>
                            <a href="{{ flow.url }}" target="_blank" title="Ouvrir"><i class="fa-solid fa-link"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucun flux trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <p class="py-3">
            <a href="{{ path('app_flow_new') }}">Ajouter un flux</a>
        </p>
    </div>
{% endblock %}
