{% extends 'base.html.twig' %}

{% block title %}Flow{% endblock %}

{% block body %}
    <h1>Flow</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flow.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ flow.title }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ flow.url }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_flow_index') }}">back to list</a>

    <a href="{{ path('app_flow_edit', {'id': flow.id}) }}">edit</a>

    {{ include('flow/_delete_form.html.twig') }}
{% endblock %}
