{% extends 'base.html.twig' %}

{% block title %}Flux{% endblock %}

{% block body %}
    <div class="container py-5">
    <h1>Flux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flow.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ flow.title }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ flow.url }}</td>
            </tr>
        </tbody>
    </table>

    <p class="my-3">
    <a href="{{ path('app_flow_index') }}">Retour à la liste</a>

    <a href="{{ path('app_flow_edit', {'id': flow.id}) }}">Modifier</a>
    </p>
    
    {{ include('flow/_delete_form.html.twig') }}
    </div>
{% endblock %}
